@page
@model IndexModel
@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Equipo de trabajo HardWork.</p>
    <img src="logo.png">
</div>
