@page
@model IndexModel
@{
    ViewData["Title"] = "Ingresos";
}


<p>Aca van el formulario para registrar ingresos de personas a los salones
</p>

<form>
    <label for="documento">Documento:</label>
    <input type="text" id="documento" name="fname"><br><br>

    <select name="TipoPersona" id="TipoPersona">
        <option value="Estudiante">Estudiante</option>
        <option value="Profesor">Profesor</option>
        <option value="Administrativo">Administrativo</option>
        <option value="Aseo">Personal de Aseo</option>
    </select>

    Salon al cual se dirige:

    <select name="Sede" id="Sede">
        <option value="Sede1">Sede 1</option>
        <option value="Sede2">Sede 3</option>
        <option value="Sede3">Sede 4</option>
        <option value="Sede4">Sede 5</option>
    </select>

    <label for="SalonIngreso">Salon:</label>
    <input type="text" id="SalonIngreso" name="SalonIngreso"><br><br>



    <input type="submit" value="Registrar">
    <input type="cancel" value="Cancelar">

</form>