@page
@model IndexModel
@{
    ViewData["Title"] = "Listas";
}

<h2>Consultar Listados</h2>

<ul>
    <li>Sedes                   - <a >Listado</a> - <a>Modificar</a></li>
    <li>Salones                 - <a>Listado</a> - <a>Modificar</a></li>
    <li>Profesores              - <a>Listado</a> - <a>Modificar</a></li>
    <li>Estudiantes             - <a>Listado</a> - <a>Modificar</a></li></li>
    <li>Personal de Aseo        - <a>Listado</a> - <a>Modificar</a></li></li>
    <li>Personal Administrativo - <a>Listado</a> - <a>Modificar</a></li></li>
</ul>
