@page
@model IndexModel
@{
    ViewData["Title"] = "Listas";
}

<h2>Consultar Listados</h2>

*** Temporalmente lo pongo acá: <a asp-page="DB/AddPersona">Agregar Personas</a>
<ul>
    <li>Sedes:                   - <a href="DB/ListSede">Listado</a> - <a href="DB/ModiSede">Modificar</a></li>
    <li>Salones:                 - <a href="DB/ListSalon">Listado</a> - <a href="DB/ModiSalon">Modificar</a></li>
    <li>Profesores:              - <a href="DB/ListProfe">Listado</a> - <a href="DB/ModiProfe">Modificar</a></li>
    <li>Estudiantes:             - <a href="DB/ListEstud">Listado</a> - <a href="DB/ModiEstud">Modificar</a></li>
    <li>Personal de Aseo:        - <a href="DB/ListAseo">Listado</a> - <a href="DB/ModiAseo">Modificar</a></li>
    <li>Personal Administrativo: - <a href="DB/ListDirect">Listado</a> - <a href="DB/ModiDirect">Modificar</a></li>
</ul>
