@page
@model IndexModel
@{
    ViewData["Title"] = "Listas";
}

<h2>Consultar Listados</h2>

<ul>
    <li>Lista de Sedes</li>
    <li>Lista de Salones</li>
    <li>Lista de Profesores</li>
    <li>Lista de Estudiantes</li>
    <li>Lista de Personal de Aseo</li>
    <li>Lista de Personal Administrativo</li>
</ul>
