@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacidad";
}
<h1>@ViewData["CUIDADO CON LOS DATOS PERSONALES"]</h1>

<p>¡NO HAY GARANTIA DE PRIVACIDAD!</p>

<p>Cualquier dato introducido en esta página puede quedar publicado en la red</P>
