@page
@model Salones.App.Frontend.Pages.EditarCrearEstudModel
@{
    ViewData["Title"] = "Listas";
}

<h1>Estudiante</h1>
<form method="post">
    <input type="hidden" asp-for="estudiante.id">
    <div class="form-group">
        <label asp-for="estudiante.nombres"> Nombres</label>
        <input asp-for="estudiante.nombres" class="form-control">
        <span class="text_danger" asp-validation.for="estudiante.nombres"></span>
    </div>
    <div class="form-group">
        <label asp-for="estudiante.apellidos"> Apellidos </label>
        <input asp-for="estudiante.apellidos" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="estudiante.tipoIdentificacion">Tipo de identificacion</label>
        <select  id="estudiante.tipoIdentificacion" value="estudiante.tipoIdentificacion" asp-for="estudiante.tipoIdentificacion">
            <option value="CC">Cedula Ciudadania</option>
            <option value="RegistroCivil">Registro Civil</option>
            <option value="TarjetaIdentidad">Tarjeta de Identidad</option>
            <option value="CCExtranjera">Cedula de Extranjeria</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="estudiante.identificacion">Numero Identificacion</label>
        <input asp-for="estudiante.identificacion" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="estudiante.edad"> Edad </label>
        <input asp-for="estudiante.edad" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="estudiante.carrera"> Carrera </label>
        <input asp-for="estudiante.carrera" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="estudiante.semestre"> Semestre </label>
        <input asp-for="estudiante.semestre" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="estudiante.facultad"> Facultad </label>
        <select  id="estudiante.facultad" value="estudiante.facultad" asp-for="estudiante.facultad">
            <option value="Ingenierias">Ingenierias</option>
            <option value="Medicina">Medicina</option>
            <option value="Derecho">Derecho</option>
            <option value="Educacion">Educacion</option>
        </select>
    </div>
    <h6> Informacion Covid-19 </h6>
    <div class="form-group">
        <label asp-for="estudiante.estadoCovid.sintomas"> ¿Ha presentado sintomas? </label>
        <select  id="estudiante.estadoCovid.sintomas" value="estudiante.estadoCovid.sintomas" asp-for="estudiante.estadoCovid.sintomas">
            <option value="true">Positivo</option>
            <option value="false">Negativo</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="estudiante.estadoCovid.tipoSintomas"> ¿Cuales Sintomas? </label>
        <select  id="estudiante.estadoCovid.tipoSintomas" value="estudiante.estadoCovid.tipoSintomas" asp-for="estudiante.estadoCovid.tipoSintomas">
            <option value="Ninguno">Ninguno</option>
            <option value="Fiebre">Fiebre</option>
            <option value="Tos">Tos</option>
            <option value="Cansancio">Cansancio</option>
            <option value="Pérdida_gusto_olfato">Perdida del gusto u olfato</option>
            <option value="Dolor_garganta">Dolor de garganta</option>
            <option value="Dolor_cabeza">Dolor de cabeza</option>
            <option value="Diarrea">Diarrea</option>
            <option value="Dificultad_respirartoria">Dificultad respirartoria</option>
            <option value="Dolor_pecho_espalda">Dolor en pecho o espalda</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="estudiante.estadoCovid.estadoCovid"> Estado Covid </label>
        <select  id="estudiante.estadoCovid.estadoCovid" value="estudiante.estadoCovid.estadoCovid" asp-for="estudiante.estadoCovid.estadoCovid">
            <option value="true">Positivo</option>
            <option value="false">Negativo</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="estudiante.estadoCovid.fechaDiagnostico"> Fecha prueba o diagnostico </label>
        <input asp-for="estudiante.estadoCovid.fechaDiagnostico" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="estudiante.estadoCovid.periodoAislamiento"> Periodo de aislamiento </label>
        <input asp-for="estudiante.estadoCovid.periodoAislamiento" class="form-control">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary" >Guardar Cambios</button> 
        <a class="btn btn-primary table-tbn" asp-page="/Personas/ListEstud"> Volver </a>
    </div>
</form><br>