@page
@model Salones.App.Frontend.Pages.EditarCrearProfeModel
@{
    ViewData["Title"] = "Listas";
}

<h1>Profesor</h1>
<form method="post">
    <input type="hidden" asp-for="profesor.id">
    <div class="form-group">
        <label asp-for="profesor.nombres"> Nombres</label>
        <input asp-for="profesor.nombres" class="form-control">
        <span class="text_danger" asp-validation.for="profesor.nombres"></span>
    </div>
    <div class="form-group">
        <label asp-for="profesor.apellidos"> Apellidos </label>
        <input asp-for="profesor.apellidos" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="profesor.tipoIdentificacion">Tipo de identificacion</label>
        <select  id="profesor.tipoIdentificacion" value="profesor.tipoIdentificacion" asp-for="profesor.tipoIdentificacion">
            <option value="CC">Cedula Ciudadania</option>
            <option value="RegistroCivil">Registro Civil</option>
            <option value="TarjetaIdentidad">Tarjeta de Identidad</option>
            <option value="CCExtranjera">Cedula de Extranjeria</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="profesor.identificacion">Numero Identificacion</label>
        <input asp-for="profesor.identificacion" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="profesor.edad"> Edad </label>
        <input asp-for="profesor.edad" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="profesor.departamento"> Departamento </label>
        <input asp-for="profesor.departamento" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="profesor.materia"> Materia </label>
        <input asp-for="profesor.materia" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="profesor.facultad"> Facultad </label>
         <select  id="profesor.facultad" value="profesor.facultad" asp-for="profesor.facultad">
            <option value="Ingenierias">Ingenierias</option>
            <option value="Medicina">Medicina</option>
            <option value="Derecho">Derecho</option>
            <option value="Educacion">Educacion</option>
        </select>
    </div>
    <h6> Informacion Covid-19 </h6>
    <div class="form-group">
        <label asp-for="profesor.estadoCovid.sintomas"> ¿Ha presentado sintomas? </label>
        <input asp-for="profesor.estadoCovid.sintomas" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="profesor.estadoCovid.estadoCovid"> Estado Covid </label>
        <select  id="profesor.estadoCovid.estadoCovid" value="profesor.estadoCovid.estadoCovid" asp-for="profesor.estadoCovid.estadoCovid">
            <option value="positivo">Positivo</option>
            <option value="negativo">Negativo</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="profesor.estadoCovid.fechaDiagnostico"> Fecha prueba o diagnostico </label>
        <input asp-for="profesor.estadoCovid.fechaDiagnostico" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="profesor.estadoCovid.periodoAislamiento"> Periodo de aislamiento </label>
        <input asp-for="profesor.estadoCovid.periodoAislamiento" class="form-control">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Guardar Cambios</button> 
        <a class="btn btn-primary table-tbn" asp-page="/Personas/ListProfe"> Volver </a>
    </div>
</form><br>


