@page
@model IndexModel
@{
    ViewData["Title"] = "Inicio";
}

Listado de directivos
¿Yo lo habia cambiado a administrativos?
Pero creo que cuando se devolvieron algunos commit, ese cambio se perdió

<table>  
            @foreach (var direc in ListDirect.getAll())
            {
                <td> @direc </td>
            }
            
</table>