@page
@model Salones.App.Frontend.Pages.ListasModel
@{
    ViewData["Title"] = "Listas";
}

<h2>Consultar Listados</h2>

<!--*** Temporalmente lo pongo acá: <a asp-page="/Personas/AddPersona">Agregar Personas</a>-->

<h4>Personas</h4>
<ul>
    <li><a href="/Personas/ListProfe">Profesores</a><!-- - <a href="DB/ModiProfe">Modificar</a>--></li>
    <li><a href="/Personas/ListEstud">Estudiantes</a> <!-- - <a href="DB/ModiEstud">Modificar</a>--></li>
    <li><a href="/Personas/ListDirect">Directivo</a> <!-- - <a href="DB/ModiDirect">Modificar</a>--></li>
    <li><a href="/Personas/ListAseo">Personal de Aseo</a> <!-- - <a href="DB/ModiAseo">Modificar</a>--></li>
</ul>
<h4>Universidad</h4>
<ul>
    <li><a href="/Universidad/ListSede">Sedes</a> <!-- - <a href="DB/ModiSede">Modificar</a>--></li>
    <li> <a href="/Universidad/ListSalon">Salones</a> <!-- - <a href="DB/ModiSalon">Modificar</a>--></li>
</ul>

