body {
}
.fontx2 {
    color: #FF0000;
}

.fontnavbar {
    font-size: 20px;
    font-family: poppins;
    padding: 14px 16px;
}

.hero-image {
    background-image: url("/Registrarse.png");
    
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    max-width: 100%;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-80%, -50%);
    color: #000000;
    font-family: poppins;
}
.bg-blue {
    background-color: #42A5F5;
}

 